@charset "utf-8";

/*나눔

font-family: 'NanumSquareLight';
font-family: 'NanumSquare';
font-family: 'NanumSquareBold';
font-family: 'NanumSquareExtraBold';
font-family: 'NanumSquareAcb';
font-family: 'NanumSquareAceb';
font-family: 'NanumSquareAcl';
font-family: 'NanumSquareAcr';

*/

/*카페24 써라운드*/
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color:inherit;
}

ul, ol{
    list-style:none;
}

body{
    font-family: 'NanumSquareLight';
    font-size: 15px;
    line-height: 24px;
    color: #000;
}

.clearfix::after{
    content:"";
    display: block;
    clear:both;
}

/*header*/
#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#header .menew{
    text-align: center;
    width: 1320px;
    margin: 0 auto;
}

#header .menew_img a {
    background-image: url(../images/homsicon.png);
    background-repeat: no-repeat;
    background-position: 13px 6px;
    padding-left: 47px;
}


#header .menew li{
    float: left;
    font-size: 20px;
    font-family: 'NanumSquareBold';
    color: rgb(0, 0, 0);
    width: 25%;
    padding-top: 100px;
}

.menew li a {
    display: inline-block;
    background-color: #eaedf0;
    padding: 5px 20px;
    border-radius: 30px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}

/*beaner*/
#beaner{
    width: 1320px;
    margin: 0 auto;    
}

#beaner img{
    width: 80%;
    padding: 50px 100px;
    padding-top: 200px;
}


/*about*/
#about{
    width: 1320px;
    margin: 0 auto;
    padding-top: 200px;
}

#about p{
    float: left;
    width: 50%;
    padding: 20px 0;
}

#about ul{
    background-image: url(../images/sup1/dogicon1.png);
    background-repeat: no-repeat;
    background-position: 90% 98%; 
}

#about ul li{
    line-height: 32px;
    padding: 20px 0;
}

#about ul li h2 {
    font-size: 30px;
    font-family: 'NanumSquareBold';
    color: #48a05b;
}

/*about2*/

#about2{
    width: 1320px;
    margin: 0 auto;
    padding-top: 300px;
}

#about2 p{
    float: right;
    width: 50%;
    padding: 88px 0;
}

#about2 ul{
    background-image: url(../images/sup1/dogicon1.png);
    background-repeat: no-repeat;
    width: 50%;
    float: right;
    padding-left: 170px;
    box-sizing: border-box;
    background-position: 2% 100%;
}

#about2 ul li{
    line-height: 32px;
    padding: 12px 0;
}

#about2 ul li img{
    padding: 20px;
}

#about2 ul li h2 {
    font-size: 30px;
    font-family: 'NanumSquareBold';
    color: #48a05b;
}

#about2 ul li .gc1{
    color: #ff0000;
}

#about2 ul li .gc2{
    color: #f7af72;
}

#about2 ul li .gc3{
    color: #429604;
}

/*about3*/

#about3{
    width: 1320px;
    margin: 0 auto;
    padding-top: 200px;
}

#about3 p{
    float: left;
    width: 52%;
    padding: 100px 0;
}

#about3 ul{
    background-image: url(../images/sup1/dogicon1.png);
    background-repeat: no-repeat;
    background-position: 90% 98%; 
    width: 48%;
    float: right;
    box-sizing: border-box;
}

#about3 ul li{
    line-height: 32px;
    padding: 20px 0;
}

#about3 ul li h2 {
    font-size: 30px;
    font-family: 'NanumSquareBold';
    color: #48a05b;
}

/*contact*/
#contact{
    
    text-align: center;
    padding-top: 100px;
    padding-bottom: 500px;
    position: relative;
}

#contact h3{
    font-family: 'NanumSquareBold';
    font-size: 30px;
}

#contact .form{
    width: 1160px;
    margin: 0 auto;
    text-align: left;
}

#contact .form label{
    font-family: 'NanumSquareLight';
    font-size: 18px;
}

#contact .form input{
    padding-left: 170px;
    padding: 20px 498px;
}


/*footer*/

#footer{
    background-image: url(../images/sup1/ene1.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    height: 501px;
}


#footer ul{
    padding-top: 408px;
    text-align: center;
}

#footer ul li{
    padding: 0 25px;
    display: inline-block;
    color: #fff;
}